<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>    
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [4]:
def bmi (mass,height):
    return mass/height**2

bmi(200,10)

2.0

### 02) Write a function that add first n numbers.

In [6]:
def sumFirstN (n):
    return (n*(n+1))/2

sumFirstN(5)

15.0

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [8]:
def isPrime(n):
    if n<=1:
        return 0
    for i in range(2,n):
        if n%i==0:
            return 0
    return 1

isPrime(3)

1

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [10]:
def primeInRange(a,b):
    arr=[]
    for i in range(a,b):
        if isPrime(i)==1:
            arr.append(i)
    return arr

primeInRange(10,20)

[11, 13, 17, 19]

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [26]:
def isPalindrome(s):
    if s==s[::-1]:
        return True
    return False

isPalindrome("HelloolleH")

True

### 06) Write a function that returns the sum of all the elements of the list.

In [30]:
def sumList(arr):
    return sum(arr)

arr=[1,2,3,4]
sumList(arr)

10

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [32]:
def sumFirstList(arr):
    sum=0
    for i in arr:
        sum+=i[0]
    return sum

arr=[(1,2),(3,4),(5,6)]
sumFirstList(arr)

9

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [48]:
def fibo(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

fibo(4)

3

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [40]:
def getName(dict1,i):
    return dict1[i]

dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'}
getName(dict1,103)

'Jay'

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [42]:
def sumScores(scores):
    sum=0
    for i in scores:
        if i%10==0:
            sum+=i
    return sum

scores = [200, 456, 300, 100, 234, 678]
sumScores(scores)

600

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [44]:
def reverseDict(d):
    new_dict={}
    for key,value in d.items():
        new_dict[value]=key
    return new_dict

d={'a': 10, 'b':20, 'c':30, 'd':40}
reverseDict(d)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [66]:
def isPangram(s):
    s=s.lower()
    alphabets = "abcdefghijklmnopqrstuvwxyz"
    for i in alphabets:
        if i not in s:
            return False
    return True

isPangram("the quick brown fox jumps over the lazy dog")

True

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [71]:
def lowerUpper(s):
    l=0
    u=0
    for i in s:
        if i.islower():
            l+=1
        elif i.isupper():
            u+=1
    return u,l

lowerUpper("AbcDEfgh")

(3, 5)

### 14) Write a lambda function to get smallest number from the given two numbers.

In [79]:
minimum=lambda x,y:x if x<y else y

minimum(5,2)

2

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [89]:
names=['Bhoomi','Shreyaa','Siddhiiii','Birvaaaa']
moreThan7=list(filter(lambda x:len(x)>7,names))

print(moreThan7)

['Siddhiiii', 'Birvaaaa']

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [99]:
names=['bhoomi','shreya','siddhi','birva']
firstUpper=list(map(lambda x:x.capitalize(),names))

print(firstUpper)

['Bhoomi', 'Shreya', 'Siddhi', 'Birva']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [109]:
def add(x,y):
    return x+y

add(5,2)

7

In [105]:
def name(n,a):
    print(f"{n} is {a} years old")

name(n='Netra',a=20)

Netra is 20 years old

In [113]:
def divide(x,y=1):
    return x/y

divide(5)

5.0

In [117]:
def print_num(*args):
    for i in args:
        print(i,end=" ")

In [119]:
print_num(1,3,5)

1 3 5

In [121]:
print_num(1,3)

1 3

In [123]:
def print_info(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")

In [125]:
print_info(name="Alice", age=30)

name: Alice
age: 30

In [127]:
print_info(name="Alice")

name: Alice

In [129]:
def add(x,y,/):
    return x+y

In [133]:
add(2,4)

6

In [139]:
# add(x=2,y=4) -- Error

In [141]:
def add(*,x,y):
    return x+y

In [143]:
add(x=2,y=4)

6

In [147]:
# add(2,4) -- Error